.container {
  width: 900px;
  margin: auto;
}

.container h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.photo_gallery {
  display: flex;
  flex-wrap: wrap;
}

.photo_item {
  flex: 0 0 278px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.photo_item img {
  width: 100%;
  height: 100%;
}

.hidden_div {
  height: 10px;
  background: transparent;
  visibility: hidden;
}


